.card{
    width: inherit;
    height: min-content;
    border: none;
    padding: 10px;
    font-size: small;
    margin: 15px 0px;
    border-radius: 8px;
    box-shadow: 5px 0 15px 4px ,rgba(1,1,0,0.6);
    background-color: white;
    color: #9068be;
    // text
}