label {
  font-size: 1.1rem;
}

input {
  padding: 10px;
  margin: 20px 0;
  border: 2px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  width: 100%;
  font-size: 1.2rem;
}

button {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  margin: 20px 0;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
  cursor: pointer;
}
