.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin-top: calc(-1 * ((100vw - 100%) / 2));
}

.left {
  background-color: black;
  flex: 4;
  padding: 1rem;
  color: grey;
  align-items: center;
  text-align: center;
}
.right{
  background-color: #e1e8f0;
  flex: 1;
  padding: 1rem;
  align-items: center;
  text-align: center;
  overflow: auto;
}
